<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th><th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @books.each do |book| %>
      <td>
        <span><%= book.title %></span>
      </td>
      <td>
        <span><%= book.body %></span>
      </td>
    </tr>
  </tbody>
</table>

<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
  <div class="form">
    <h5>Title</h5>
    <%= f.text_field :title %>
  </div>
  
  <div class="form"> 
    <h5>Body</h5>
    <%= f.text_area :body %>
  </div>

  <div class="form">
    <%= f.submit 'Create Book' %>
  </div>

<% end %>
